<div class="demo-container">

    <div class="demo-tabs">
        <button class="demo-tab active"
                onclick="showDemoTab(this,'result-{{ include.id }}')">
            Result
        </button>

        {% if include.html %}
        <button class="demo-tab"
                onclick="showDemoTab(this,'html-{{ include.id }}')">
            HTML
        </button>
        {% endif %}

        {% if include.css %}
        <button class="demo-tab"
                onclick="showDemoTab(this,'css-{{ include.id }}')">
            CSS
        </button>
        {% endif %}

        {% if include.javascript %}
        <button class="demo-tab"
                onclick="showDemoTab(this,'javascript-{{ include.id }}')">
            JavaScript
        </button>
        {% endif %}

    </div>

    <div id="result-{{ include.id }}" class="demo-content active">

        {% capture preview %}

            {% if include.css %}
                <style>
                    {{ include.css }}
                </style>
            {% endif %}

            {% if include.html %}
                {{ include.html }}
            {% endif %}

            {% if include.javascript %}
                <script>
                    {{ include.javascript }}
                </script>
            {% endif %}

        {% endcapture %}

        <iframe
            class="demo-preview"
            height="{{ include.height | default: 250 }}"
            srcdoc="{{ preview | xml_escape }}">
        </iframe>

    </div>
{% comment %}
    {% if include.html %}
        <div id="html-{{ include.id }}" class="demo-content">
            <pre><code>{{ include.html | escape }}</code></pre>
        </div>
    {% endif %}

    {% if include.css %}
        <div id="css-{{ include.id }}" class="demo-content">
            <pre><code>{{ include.css | escape }}</code></pre>
        </div>
    {% endif %}

    {% if include.javascript %}
        <div id="javascript-{{ include.id }}" class="demo-content">
            <pre><code>{{ include.javascript | escape }}</code></pre>
        </div>
    {% endif %}

    {% endcomment %}


<div id="html-{{ include.id }}" class="demo-content">

{% highlight html %}
{{ include.html }}
{% endhighlight %}

</div>

<div id="css-{{ include.id }}" class="demo-content">

{% highlight css %}
{{ include.css }}
{% endhighlight %}

</div>

{% if include.javascript %}
<div id="javascript-{{ include.id }}" class="demo-content">

{% highlight javascript %}
{{ include.javascript }}
{% endhighlight %}

</div>
{% endif %}


</div>