<div class="demo-container">

    <div class="demo-tabs">
        <button class="demo-tab active"
                onclick="showDemoTab(this,'result-{{ include.id }}')">
            Result
        </button>

        <button class="demo-tab"
                onclick="showDemoTab(this,'html-{{ include.id }}')">
            HTML
        </button>

        <button class="demo-tab"
                onclick="showDemoTab(this,'css-{{ include.id }}')">
            CSS
        </button>

        <button class="demo-tab"
                onclick="showDemoTab(this,'javascript-{{ include.id }}')">
            JavaScript
        </button>
    </div>

    <div id="result-{{ include.id }}" class="demo-content active">

        {% capture preview %}
<style>
{{ include.css }}
</style>

{{ include.html }}
{% endcapture %}

        <iframe
            class="demo-preview"
            height="{{ include.height | default: 250 }}"
            srcdoc="{{ preview | xml_escape }}">
        </iframe>

    </div>

    <div id="html-{{ include.id }}" class="demo-content">
        <pre><code>{{ include.html | escape }}</code></pre>
    </div>

    <div id="css-{{ include.id }}" class="demo-content">
        <pre><code>{{ include.css | escape }}</code></pre>
    </div>

    <div id="javascript-{{ include.id }}" class="demo-content">
        <pre><code>{{ include.js | escape }}</code></pre>
    </div>

</div>