{% if page.faq %}
<hr>
<div class="faq-block">
  <h2 id="faq">❓ FAQ</h2>
  {% for item in page.faq %}
  {% assign faq_id = item.question | downcase | replace: " ", "-" | replace: "¿", "" | replace: "?", "" | replace: "á","a" | replace:"é","e" | replace:"í","i" | replace:"ó","o" | replace:"ú","u" %}
    <h3 id="{{ faq_id }}">{{ item.question }}</h3>
    <p>{{ item.answer }}</p>
  {% endfor %}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for item in page.faq %}
    {
      "@type": "Question",
      "name": "{{ item.question | escape }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ item.answer | escape }}"
      }
    }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
}
</script>
{% endif %}
