<!-- The Side Bar -->

<div id="sidebar" class="d-flex flex-column align-items-end">
  <div class="profile-wrapper">
    <a href="{{ '/' | relative_url }}">
      {% if site.avatar != empty and site.avatar %}
        {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
       <img src="{{ avatar_url | strip }}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
        <!--<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" class="logoJ">
        <g id="J">
      	  <path fill="none" stroke="#000000" stroke-width="16" stroke-linecap="round" stroke-miterlimit="10" d="M35.022,120.659
      		c0,13.671,11.083,24.753,24.753,24.753c13.672,0,24.755-11.082,24.755-24.753V54.918"/>
        </g>
        <g id="R">
      	  <path fill="none" stroke="#000000" stroke-width="16" stroke-linecap="round" stroke-miterlimit="10" d="M164.949,79.672
      		c0-13.671-11.083-24.754-24.755-24.754c-13.67,0-24.753,11.083-24.753,24.754v65.74"/>
        </g>
        <circle class="circle" fill="none" stroke="#000000" stroke-width="10" stroke-miterlimit="10" cx="100" cy="100" r="95"/>
        </svg>-->

        <!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      	 width="146.678px" height="146.678px" class="logoWEB">
          <g class="logoR">
          	<path fill="none" stroke="#000000" stroke-width="10.685" stroke-linecap="round" stroke-miterlimit="10" d="M121.196,58.361
          		c0-10.074-8.166-18.24-18.24-18.24c-10.073,0-18.239,8.167-18.239,18.24v48.44"/>
          </g>
          <g class="logoJ">
          	<path fill="none" stroke="#000000" stroke-width="10.685" stroke-linecap="round" stroke-miterlimit="10" d="M25.46,88.562
          		c0,10.073,8.166,18.239,18.24,18.239s18.24-8.166,18.24-18.239V40.121"/>
          </g>
          <circle class="circle" fill="none" stroke="#000000" stroke-width="6.6781" stroke-miterlimit="10" cx="73.339" cy="73.339" r="70"/>
        </svg>-->
      
      {% endif %}
    </a>

    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle fst-italic">{{ site.tagline | newline_to_br }}</div>
  </div>
  <!-- .profile-wrapper -->

  <ul class="nav flex-column flex-grow-1 w-100 ps-0">
    <!-- home -->
    <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        <i class="fa-fw fas fa-home"></i>
        <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
      </a>
    </li>
    <!-- the real tabs -->
    {% for tab in site.tabs %}
      <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
        <a href="{{ tab.url | relative_url }}" class="nav-link">
          <i class="fa-fw {{ tab.icon }}"></i>
          {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

          <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
        </a>
      </li>
      <!-- .nav-item -->
    {% endfor %}
  </ul>
  <!-- ul.nav.flex-column -->

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</div>
<!-- #sidebar -->
