---
---

@import 'main'; 

/* append your custom style below:

- Here you can include custom scss. I keep some dark mode variables available to edit.
- Use developer tools within browser to discover specific css.

/* Editing some dark mode mixin variables */

html[data-mode=dark] {
    --heading-color: #fff;
    --label-color: #c0c0c0;
    --site-title-color: #c0c0c0;
    --site-subtitle-color: #868686;
    --sidebar-muted-color: #585858;
    --sidebar-active-color: #c0c0c0;
    --sidebar-btn-color: #585858;
    --avatar-border-color: rgb(206, 206, 206, 0.9);
    --search-border-color: #585858;
    --search-icon-color: #c0c0c0;
    --input-focus-border-color: #c0c0c0;
    --toc-highlight: #c0c0c0;
    --prompt-text-color: rgb(216, 212, 212, 0.75);
    --prompt-tip-bg: rgb(22, 60, 36, 0.64);
    --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
    --prompt-info-bg: rgb(7, 59, 104, 0.8);
    --prompt-info-icon-color: #0075d1;
    --prompt-warning-bg: rgb(90, 69, 3, 0.88);
    --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
    --prompt-danger-bg: rgb(86, 28, 8, 0.8);
    --prompt-danger-icon-color: #cd0202;
    --tag-border: #585858;
    color-scheme: dark;
}

/* Editing some dark mode mixin variables */

html[data-mode=light] {
    --heading-color: red;
    --label-color: #c0c0c0;
    --site-title-color: #c0c0c0;
    --site-subtitle-color: #868686;
    --sidebar-muted-color: #585858;
    --sidebar-active-color: #c0c0c0;
    --sidebar-btn-color: #585858;
    --avatar-border-color: rgb(206, 206, 206, 0.9);
    --search-border-color: #585858;
    --search-icon-color: #c0c0c0;
    --input-focus-border-color: #c0c0c0;
    --toc-highlight: #c0c0c0;
    --prompt-text-color: rgb(216, 212, 212, 0.75);
    --prompt-tip-bg: rgb(22, 60, 36, 0.64);
    --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
    --prompt-info-bg: rgb(7, 59, 104, 0.8);
    --prompt-info-icon-color: #0075d1;
    --prompt-warning-bg: rgb(90, 69, 3, 0.88);
    --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
    --prompt-danger-bg: rgb(86, 28, 8, 0.8);
    --prompt-danger-icon-color: #cd0202;
    --tag-border: #585858;
    color-scheme: dark;
}


/* Change text for tags page only to green */
#search-results a, #search-hints .post-tag, a {
    color: #c0c0c0;
}

/* Change panel hover only text color to green and border hover to purple */
.btn:hover {
    color: #c0c0c0;
    background-color: #302e31;
    border-color: #585858;
}

/* Change side panel only tag border to purple and text to green */
.post-tag {
    border: 1px solid #585858;
    color: #c0c0c0;
}

/* Change tag hover color on side panel only to purple */
.btn.btn-outline-primary:not(.disabled):hover {
    border-color: #585858 !important;
}

/* Change link colors to green hover and purple underline across all pages */
#page-category a:hover, #page-tag a:hover, .post-tags .post-tag:hover, .post-tail-wrapper .license-wrapper>a:hover, #search-results a:hover, #topbar #breadcrumb a:hover, .content a:not(.img-link):hover, .post-meta a:not([class]):hover, #access-lastmod a:hover, footer a:hover {
    color: #c0c0c0 !important;
    border-bottom: 1px solid #585858;
}

/* Change table of contents non-focus non-highlight items to purple */
#toc-wrapper ul .toc-link {
    color: #585858;
}

/* Change end of post navigation to purple headings */
.post-navigation .btn:not(:hover) {
    color: #585858;
}


