---
layout: full-width
---

<h1>Mis cuadernos</h1>

<div class="notes-grid">
  {% assign notebooks = site.notes | map: "notebook" | uniq %}

  {% for nb in notebooks %}
    <div class="notebook">
      <h2>{{ nb }}</h2>

      <div class="notes-subgrid">
        {% for note in site.notes %}
          {% if note.notebook == nb %}


        <!--
            <a href="{{ note.url }}" class="note-card">
              <h3 class=titulo>{{ note.title }}</h3> 
           {% if note.resumen %}
                  <p>{{ note.resumen }}</p>
                {% endif %}
              <p>{{ note.date }}</p>

            </a>
        -->

        <!-- Nuevo diseño -->
        <a href="{{ note.url }}">
<div class="relative h-full bg-card border border-border rounded-xl overflow-hidden hover:border-primary/50 hover:shadow-2xl hover:shadow-primary/10 hover:-translate-y-1 active:translate-y-0 active:scale-[0.99] transition-all duration-300 flex flex-col gpu-accelerated">
   <div class="flex items-center justify-between px-4 py-2.5 bg-muted/30 border-b border-border">
      <div class="flex items-center gap-2 min-w-0 flex-1 overflow-hidden">
        <span class="font-mono text-xs text-muted-foreground truncate" title="security-triage.md"><span class="">{{ note.title }}</span></span>
      </div>
   </div>
   <div class="relative z-10 flex flex-col min-w-0 flex-1 px-4 pt-2 pb-2.5">
      <div class="mt-1 font-mono text-xs leading-relaxed flex-1"><span class="text-muted-foreground line-clamp-3"><span class="">
        {% if note.resumen %}
          {{ note.resumen }}
        {% endif %}
        </span></span></div>
   </div>
   <div class="mt-auto px-4 bg-muted/20 border-t border-border/50 flex items-center justify-between">
      <span class="text-xs font-mono text-muted-foreground">
      {% include datetime.html date=note.date tooltip=true lang=lang %}  
      </span>
   </div>
</div>

        </a>


        
        <!-- FIN nuevo diseño-->
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
