---
layout: full-width
---

<h1>Mis cuadernos</h1>

<div class="notes-grid">
  {% assign notebooks = site.notes | map: "notebook" | uniq %}

  {% for nb in notebooks %}
    <div class="notebook">
      <h2>{{ nb }}</h2>

      <div class="notes-subgrid">
        {% for note in site.notes %}
          {% if note.notebook == nb %}
        
        <!-- Nuevo diseño -->
          <div class="carta-nota">
            <a href="{{ note.url }}">
             <div class="titulo-nota">
                  <span>
                    {{ note.title }}
                  </span>
             </div>
             <div class="resumen-nota">
                <span>
                  {% if note.resumen %}
                    {{ note.resumen }}
                  {% endif %}
                </span>
             </div>
             <div class="fecha-nota">
                <span>
                {% include datetime.html date=note.date tooltip=true lang=lang %}  
                </span>
             </div>
            </a>
          </div>


        
        <!-- FIN nuevo diseño-->
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
