---
layout: full-width
refactor: true
---

{% include lang.html %}

<header>
  <h1 data-toc-skip>{{ page.title }}</h1>

  <div class="post-meta text-muted">
    <!-- published date -->
    <span>
      {{ site.data.locales[lang].post.posted }}
      {% include datetime.html date=page.date tooltip=true lang=lang %}
    </span>
            
    
    <div class="d-flex justify-content-between">

      <!-- read time -->
        {% include read-time.html content=content prompt=true lang=lang %}
    </div>
    <!-- .d-flex -->
  </div>
  <!-- .post-meta -->
</header>

<div class="content">
  {{ content }}
</div>

<div class="post-tail-wrapper text-muted">

  <div
    class="
      post-tail-bottom
      d-flex justify-content-between align-items-center mt-5 pb-2
    "
  >
    <div class="license-wrapper">
      {% if site.data.locales[lang].copyright.license.template %}
        {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

        {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
      {% endif %}
    </div>

    {% include post-sharing.html lang=lang %}

 

  </div>
  <!-- .post-tail-bottom -->
</div>
<!-- div.post-tail-wrapper -->
