---
layout: default
---

<h1>Mis cuadernos</h1>

<div class="notes-grid">
  {% assign notebooks = site.notes | map: "notebook" | uniq %}

  {% for nb in notebooks %}
    <div class="notebook">
      <h2>{{ nb }}</h2>

      <div class="notes-subgrid">
        {% for note in site.notes %}
          {% if note.notebook == nb %}
            <a href="{{ note.url }}" class="note-card">
             
               


            <div class="container-notas">
		<div class="book">
			<div class="front">
				<div class="cover">
          <h3 class=titulo>{{ note.title }}</h3> 
           {% if note.resumen %}
                  <p>{{ note.resumen }}</p>
                {% endif %}
				</div>
			</div>
			<div class="left-side">
				<h2>
					<span>{{ note.title }}</span>
					<span>2026</span>
				</h2>
			</div>
		</div>
	</div>
            </a>
        
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
